h1 {
    text-align: center;
    margin: 70px 0;
    font-size: 45px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

li {
    padding: 0;
    margin: 50px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 25px;
    color: red;
    background-color: black;
    padding: 15px 45px;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    font-weight: 600;
}

li a:hover {
    background-color: red;
    color: black;
}